In [1]:
# import libraries
import tensorflow as tf
import pandas as pd
import sys

In [2]:
print('Python version ' + sys.version)
print('Tensorflow version ' + tf.VERSION)
print('Pandas version ' + pd.__version__)

Python version 3.6.1 |Anaconda custom (64-bit)| (default, May 11 2017, 13:09:58)
[GCC 4.4.7 20120313 (Red Hat 4.4.7-1)]
Tensorflow version 1.2.1
Pandas version 0.20.1

In [3]:
# Create Dummy Data in Pandas
df = pd.DataFrame({'a':[2,4,6,8],
                   'b':[2,2,2,2]})

df

   a  b
0  2  2
1  4  2
2  6  2
3  8  2

In [5]:
# read data into tensorflow using placeholder

# placeholders are used to feed data to your graph
a = tf.placeholder(tf.int32, name = "var_a")
b = tf.placeholder(tf.int32, name = "var_b")

# multiply a * b
c = tf.multiply(a, b)

In [6]:
# Run your graph inside a session
with tf.Session() as sess:
    # This is how you feed data in
    print(sess.run(c, feed_dict = {a:df['a'].tolist(), b:df['b'].tolist()}))

[ 4  8 12 16]